<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-top card-top-primary">
        <div class="card-header">
          <vb-headers-heading-2
            [data]="{'title':'My Stories of Change','description':'Welcome to my stories section.'}"
          ></vb-headers-heading-2>
        </div>
        <div class="card-body">
          <div>
            <dl class="row">
              <dt class="col-sm-3">Instructions</dt>
              <dd class="col-sm-9"></dd>
              <dd class="col-sm-9">
                1. Click Add Story of change button below to add a new story of change
              </dd>
              <dt class="col-sm-3"></dt>
              <dd class="col-sm-9">
                2. You can only edit stories which you have not Submitted for review or those which have been Resent back for changes
              </dd>
              <dt class="col-sm-3"></dt>
              <dd class="col-sm-9">
                3. To edit full details of a Story, click the  icon in the table below</dd>

              <dt class="col-sm-3"></dt>
              <dd class="col-sm-9">
                4.To view full details of a Story, click the  icon in the table below
              </dd>
              <dt class="col-sm-3"></dt>
              <dd class="col-sm-9">
                5.You can delete Stories that you have not yet submitted for review. To delete a story, click the  icon in the table below

              </dd>
            </dl>
          </div>

        </div>
        <div class="card-body">
          <vb-controls-button-2
            [data]="{'title':'New Story of Change','icon':'fe fe-plus-circle','type':'primary'}"
          ></vb-controls-button-2>
        </div>
        <div class="card-body"><app-my-story-tables-3></app-my-story-tables-3></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-top card-top-primary">
        <vb-widgets-general-11v1></vb-widgets-general-11v1>
      </div>
    </div>
  </div>
</div>
