<div class='row'>
  <div *ngIf='isLoading' class='col-12'>
    <nz-skeleton nzActive></nz-skeleton>
  </div>
  <div *ngIf='!isLoading' class='col-12'>
    <ng-container></ng-container>
    <ng-container>
      <div *ngFor='let x of answers' class="answer-wrap d-flex">
        <div class="votes votes-styled w-auto">
        </div><!-- end votes -->
        <div class="answer-body-wrap flex-grow-1">
          <div class="answer-body">
            <div [innerHTML]='x?.body' ></div>
            <img *ngFor='let x of x?.image' class='ml-1'
                 nz-image
                 width="200px"
                 height="200px"
                 [nzSrc]='x?.url'
                 alt="Attached image"
            />
          </div><!-- end answer-body -->
          <div class="question-post-user-action">
            <div class="media media-card user-media align-items-center">
              <div class="media-body d-flex align-items-center justify-content-between">
                <div>
                  <h5 class="pb-1"><a>{{x.user.displayName}}</a></h5>
                </div>
                <small class="meta d-block text-right">
                  <span class="text-black d-block lh-18">answered</span>
                  <span class="d-block lh-18 fs-12">{{x.createdAt|dateAgo}}</span>
                </small>
              </div>
            </div><!-- end media -->
          </div><!-- end question-post-user-action -->
        </div><!-- end answer-body-wrap -->
      </div>
    </ng-container>
  </div>
</div>

