<form nz-form [formGroup]="validateForm1" (ngSubmit)="submitForm1()">
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="full-name" class="text-left">Full Names</nz-form-label>
    <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please input your full name!">
      <p class='my-1'>admin@esapp.com</p>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="full-name" class="text-left">Role</nz-form-label>
    <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please input your full name!">
      <p class='my-1'>Camp Officer</p>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="full-name" class="text-left">ID</nz-form-label>
    <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please input your full name!">
      <p class='my-1'>AE293204</p>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="email" class="text-left">Camp</nz-form-label>
    <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please input your email adress!">
      <p class='my-1'>Camp 1</p>
    </nz-form-control>
  </nz-form-item>
  </form>
