<div class="card card-item">
  <div class="card-body">
    <h3 class="fs-17 pb-3">Related Tutorials</h3>
    <div class="divider"><span></span></div>
    <div class="sidebar-questions pt-3">
      <ng-container *ngFor='let x of results'>
      <div class="media media-card media--card media--card-2">
        <div class="media-body">
          <h5><a (click)='moveToTutorial(x?.id,x?.slug)'>{{x?.title}}</a></h5>
          <small class="meta">
            <span class="pr-1">{{x?.createdAt|dateAgo}}</span>
            <span class="pr-1">. by</span>
            <a class="author">{{x?.owner?.displayName}}</a>
          </small>
        </div>
      </div><!-- end media -->
      </ng-container>
    </div><!-- end sidebar-questions -->
  </div>
</div><!-- end card -->
