<nz-table #basicTable [nzData]="tableData"
          [nzShowPagination]="false" class="table mb-4">
  <thead>
  <tr>
    <th class="bg-transparent">#</th>
    <th class="bg-transparent">Topic</th>
    <th class="bg-transparent">Category</th>
    <th class="bg-transparent">Sub-Component</th>
    <th class="bg-transparent">Output Level Indicator</th>
    <th class="bg-transparent">Edit</th>
    <th class="bg-transparent">Delete</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of basicTable.data">
    <tr >
      <td [nzExpand]="expandSet.has(data.id)"
          (nzExpandChange)="onExpandChange(data.id, $event)">
      </td>
      <td><div>{{data.topic}}</div></td>
      <td>{{data.category}}</td>
      <td><div class="text-gray-4">{{data.sub}}</div></td>
      <td>
        <a href="javascript: void(0);" class="text-blue">
          {{data.oli.slice(0,8)+"..."}}
        </a>
      </td>
      <td >
        <button type="button" class="btn">
          <i class="fe fe-edit"></i>
        </button>
      </td>
      <td>
        <button type="button" class="btn">
          <i class="fe fe-trash"></i>
        </button>
      </td>
    </tr>
    <tr [nzExpand]="expandSet.has(data.id)">
      <app-cbb-topics-detail></app-cbb-topics-detail>
    </tr>
  </ng-container>

  </tbody>
</nz-table>
