<!--======================================
        START HERO AREA
======================================-->
<section class="hero-area section-padding bg-gray">
  <span class="icon-shape icon-shape-1 is-scale"></span>
  <span class="icon-shape icon-shape-2 is-bounce"></span>
  <span class="icon-shape icon-shape-3 is-swing"></span>
  <span class="icon-shape icon-shape-4 is-spin"></span>
  <span class="icon-shape icon-shape-5 is-spin"></span>
  <span class="icon-shape icon-shape-6 is-bounce"></span>
  <span class="icon-shape icon-shape-7 is-tilt"></span>
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="hero-content">
                  <h3 class="fs-16 fw-medium pb-3">Who we are</h3>
                  <h2 class="section-title fs-40 pb-3 lh-55">
                    Helping making education reachable to everyone, and teachers are leaving no one behind </h2>
                  <p class="lh-26 pb-3">Our public platform <strong class="fw-medium text-black">serves thousands of students every month</strong>, making it one of the easiest and faster eays to quickly get attention from teachers.</p>
                  <p class="lh-26">Our asynchronous knowledge management and collaboration offering <strong class="fw-medium text-black">Tadya for Schools</strong>, is transforming how students learn.</p>
              </div><!-- end hero-content -->
          </div><!-- end col-lg-6 -->
          <div class="col-lg-6">
              <div class="generic-img-box h-100">s
                  <img class="lazy" src="images/img-loading.png" data-src="images/img1.jpg" alt="image">
                  <img class="lazy" src="images/img-loading.png" data-src="images/img2.jpg" alt="image">
                  <img class="lazy" src="images/img-loading.png" data-src="images/img3.jpg" alt="image">
                  <img class="lazy" src="images/img-loading.png" data-src="images/img4.jpg" alt="image">
              </div>
          </div><!-- end col-lg-6 -->
      </div><!-- end row -->
  </div><!-- end container -->
</section>
