<div class="table-responsive text-wrap">

  <nz-tabset class="tabs" [nzSelectedIndex]="0">
    <nz-tab nzTitle="{{data.tab}}s" [nzForceRender]="true">
      <nz-table #basicTable [nzData]="tableData" [nzScroll]="{ x: '1100px' }"
                [nzShowPagination]="false" class="table mb-4">
        <thead>
          <tr>
            <th class="bg-transparent">#</th>
            <th *ngFor='let title of data.titles' class="bg-transparent">{{title}}</th>
            <th class="bg-transparent">Edit</th>
            <th class="bg-transparent">Delete</th>
          </tr>
        </thead>
        <tbody>
        <ng-container >
          <tr *ngFor="let row of basicTable.data">
            <td *ngFor='let title of row  | keyvalue' ><div>{{title.value}}</div></td>


            <td >
              <button type="button" class="btn">
                <i class="fe fe-edit"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn">
                <i class="fe fe-trash"></i>
              </button>
            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
          <app-cbb-topics-detail></app-cbb-topics-detail>
          </tr>
        </ng-container>

        </tbody>
      </nz-table>
    </nz-tab>
    <nz-tab *ngIf="data.hasForm" nzTitle="Create {{data.tab}}">
      <nz-steps nzType="navigation" [nzCurrent]="current" >
        <nz-step nzTitle="Create / Choose" nzStatus="process" nzIcon="paper-clip">
        </nz-step>
      </nz-steps>
      <div class="steps-content">
        <app-mgf-form *ngIf="createTable"
            [formFieldsData]='data.fields'
        ></app-mgf-form>
      </div>
      <div class="steps-action">
        <button
          class="btn btn-default mt-3 mr-2"
          nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
          <span>Done</span>
        </button>
      </div>
    </nz-tab>
  </nz-tabset>
</div>
