<div>
  <div class="py-3 border-bottom">
    <div class="font-weight-bold mb-2">Province</div>
    <div>{{data.province}}</div>
  </div>
  <div class="py-3 border-bottom">
    <div class="font-weight-bold mb-2">District</div>
    <div>{{data.district}}</div>
  </div>
  <div class="py-3 border-bottom">
    <div class="font-weight-bold mb-2">Start NRC Number</div>
    <div>{{data.startNrc}}</div>
  </div>
  <div class="py-3 border-bottom">
    <div class="font-weight-bold mb-2">End Nrc Number</div>
    <div>{{data.endNrc}}</div>
  </div>
  <div class="py-3 border-bottom">
    <a (click)="process()" class="btn btn-success text-blue mb-2">
      Confirm
    </a>
  </div>

</div>
