<div class="footer">
    <div class="footerInner">
        <a href="{{essap_link}}" target="_blank" rel="noopener noreferrer" class="logo">
            <strong class="mr-2">{{ settings.logo }}</strong>
        </a>
        <br />

        <div class="text-center">
            Copyright © {{ date }}
            <a href="{{Standards.szi_link}}" target="_blank" rel="noopener noreferrer">
       {{Standards.szi_name}}
      </a> |
            <a href="{{Standards.essap_link}}" target="_blank" rel="noopener noreferrer">
        {{Standards.essap_link}}
      </a>
        </div>
    </div>
</div>