<div class="row">
  <div class="col-lg-3">
    <div class="item mb-xl-0 mb-3">
      <span class="icon">
        <i class="fe fe-shopping-bag"></i>
      </span>
      <div class="desc">
        <span class="title">Total Commodity Prices</span>
        <p>2,383</p>
      </div>
      <div class="line bg-success"></div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="item mb-xl-0 mb-3">
      <span class="icon">
        <i class="fe fe-pie-chart"></i>
      </span>
      <div class="desc">
        <span class="title">Commodity Types</span>
        <p>70</p>
      </div>
      <div class="line bg-primary"></div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="item mb-xl-0 mb-3">
      <span class="icon">
        <i class="fe fe-shopping-cart"></i>
      </span>
      <div class="desc">
        <span class="title">Markets</span>
        <p>380</p>
      </div>
      <div class="line bg-warning"></div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="item mb-xl-0 mb-3">
      <span class="icon">
        <i class="fe fe-map-pin"></i>
      </span>
      <div class="desc">
        <span class="title">Camps</span>
        <p>1,299</p>
      </div>
      <div class="line bg-gray-5"></div>
    </div>
  </div>
</div>
