<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="item mb-xl-0 mb-3">
      <span class="icon">
        <i class="fe fe-map"></i>
      </span>
      <div class="desc">
        <span class="title">Camp</span>
        <p>{{ user.campID }}</p>
      </div>
      <div class="line bg-success"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3">
    <div class="item mb-xl-0 mb-3">
      <span class="icon">
        <i class="fe fe-user"></i>
      </span>
      <div class="desc">
        <span class="title">{{ user.name }}</span>
        <p>{{ user.email }}</p>
      </div>
      <div class="line bg-primary"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3">
    <div class="item mb-xl-0 mb-3">
      <span class="icon">
        <i class="fe fe-users"></i>
      </span>
      <div class="desc">
        <span class="title">Farmers</span>
        <p>{{farmerCount}}</p>
      </div>
      <div class="line bg-primary"></div>
    </div>
  </div>
</div>
