<div class="table-responsive text-wrap">
  <nz-tabset class="tabs" [nzSelectedIndex]="0">
    <nz-tab nzTitle="Commodities" [nzForceRender]="true">
      <nz-table #basicTable [nzData]="tableData"
                nzShowPagination class="table mb-4">
        <thead>
        <tr>
          <th class="bg-transparent"></th>
          <th class="bg-transparent">Market/Vendor</th>
          <th class="bg-transparent">Commodity Type</th>
          <th class="bg-transparent">Price Level</th>
          <th class="bg-transparent">Unit</th>
          <th class="bg-transparent">Price(ZMW)</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let data of basicTable.data">
          <tr>
            <td [nzExpand]="expandSet.has(data.id)"
                (nzExpandChange)="onExpandChange(data.id, $event)">
            </td>

            <td>
              <div>{{data.market}}</div>
              <div class="text-gray-4">{{data.market}}</div>
            </td>
            <td>
              {{data.commodity_type}}
            </td>
            <td>
              {{data.price_level}}
            </td>
            <td>
              <div>{{data.unit_of_measure}}</div>
            </td>
            <td>
              <div>K{{data.price}}</div>
            </td>

          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
            <app-prices-view-price [data]='data'></app-prices-view-price>
          </tr>
        </ng-container>

        </tbody>
      </nz-table>
    </nz-tab>

<!--    <nz-tab nzTitle="Commodities (Buy)" [nzForceRender]="true">-->
<!--    <nz-table #basicTable [nzData]="tableData"-->
<!--              [nzShowPagination]="false" class="table mb-4">-->
<!--      <thead>-->
<!--      <tr >-->
<!--        <th class="bg-transparent"></th>-->
<!--        <th class="bg-transparent">Market/Vendor</th>-->
<!--        <th class="bg-transparent">Commodity Type</th>-->
<!--        <th class="bg-transparent">Unit</th>-->
<!--        <th class="bg-transparent">Price(ZMW)</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <ng-container *ngFor="let data of basicTable.data">-->
<!--        <tr *ngIf='data.order == "buy"'>-->
<!--          <td [nzExpand]="expandSet.has(data.id)"-->
<!--              (nzExpandChange)="onExpandChange(data.id, $event)">-->
<!--          </td>-->

<!--          <td>-->
<!--            <div>{{data.vendor.name}}</div>-->
<!--            <div class="text-gray-4">{{data.market}}</div>-->
<!--          </td>-->
<!--          <td>-->
<!--            {{data.commodity_type}}-->
<!--          </td>-->
<!--          <td>-->
<!--            <div>{{data.unit}}</div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div>K{{data.price}}</div>-->
<!--          </td>-->

<!--        </tr>-->
<!--        <tr [nzExpand]="expandSet.has(data.id)">-->
<!--          <app-prices-view-price [data]='data'></app-prices-view-price>-->
<!--        </tr>-->
<!--      </ng-container>-->

<!--      </tbody>-->
<!--    </nz-table>-->
<!--  </nz-tab>-->
    <nz-tab nzTitle="New Commodity Price">
      <nz-steps nzType="navigation" [nzCurrent]="current" >
        <nz-step nzTitle="Create / Choose" nzStatus="process" nzIcon="paper-clip">
        </nz-step>
      </nz-steps>
      <div class="steps-content">
        <app-prices-form *ngIf="createTable"></app-prices-form>
      </div>
      <div class="steps-action">
        <button
          class="btn btn-default mt-3 mr-2"
          nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
          <span>Done</span>
        </button>
      </div>

    </nz-tab>

  </nz-tabset>
</div>
