<!-- <div class="logo"></div>
                <ul nz-menu nzTheme="dark" nzMode="horizontal">
                    <li nz-menu-item>nav 1</li>
                    <li nz-menu-item>nav 2</li>
                    <li nz-menu-item>nav 3</li>
                </ul> -->

<div class="logo">
    <a routerLink="">
        <img src="assets/images/logo-black.png" alt="footer logo" class="footer-logo">
    </a>
</div>
<ul nz-menu nzMode="horizontal" nzTheme="dark">
    <li routerLink="/" nz-menu-item nzSelected>
        <i nz-icon nzType="home"></i> Home
    </li>
    <li routerLink="/tutorials" nz-menu-item>
        <i nz-icon nzType="robot" nzTheme="outline"></i> Tutorials
    </li>
    <li routerLink="/questions" nz-menu-item>
        <i nz-icon nzType="question" nzTheme="outline"></i>Questions
    </li>
    <li routerLink="/subjects" nz-menu-item>
        <i nz-icon nzType="profile" nzTheme="outline"></i> Subjects
    </li>
    <li *ngIf="utility.teacherAccount || !authorized" nz-submenu nzTitle="Teachers" nzIcon="setting">
        <ul>
            <li *ngIf="!authorized" routerLink="/auth/teacher/join" nz-menu-item nzTitle="Join"> Join</li>
            <li *ngIf="authorized" routerLink="/tutorial/create" nz-menu-item nzTitle="Create a Tutorial">Create a Tutorial</li>
            <li *ngIf="authorized" routerLink="/questions/unanswered" nz-menu-item nzTitle="Unanswered Questions">Unanswered Questions
                <!-- <ul>
                <li nz-menu-item>Option 1</li>
                <li nz-menu-item>Option 2</li>
              </ul> -->
            </li>
        </ul>
    </li>
    <li *ngIf="utility.studentAccount || !authorized" nz-submenu nzTitle="Students" nzIcon="setting">
        <ul>
            <li routerLink="/ask" nz-menu-item nzTitle="Ask Question">Ask Question</li>
            <li *ngIf="!authorized" routerLink="/auth/register" nz-menu-item nzTitle="Register Now">Register Now</li>
            <!-- <li *ngIf="authorized" routerLink="/questions/mine" nz-menu-item nzTitle="My Questions">My Questions -->
            <!-- <ul>
                <li nz-menu-item>Option 1</li>
                <li nz-menu-item>Option 2</li>
              </ul> -->
            <!-- </li> -->
        </ul>
    </li>
    <li nz-submenu nzTitle="Account" nzIcon="tool">
        <ul *ngIf="authorized">
            <li routerLink="/profile" nz-menu-item nzTitle="Dashboard">Dashboard</li>
            <li (click)="signOut()" nz-menu-item nzTitle="Sign Out">Sign Out
            </li>
        </ul>
        <ul *ngIf="!authorized">
            <li routerLink="/auth/register" nz-menu-item nzTitle="Join">Join</li>
            <li routerLink="/auth/login" nz-menu-item nzTitle="login">login
            </li>
        </ul>
    </li>
    <!-- <li nz-menu-item>
          <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
        </li> -->
</ul>
