<!--======================================
        START HERO AREA
======================================-->
<section class="hero-area pattern-bg-2 bg-white shadow-sm
 overflow-hidden pt-50px pb-50px">
    <span class="stroke-shape stroke-shape-1"></span>
    <span class="stroke-shape stroke-shape-2"></span>
    <span class="stroke-shape stroke-shape-3"></span>
    <span class="stroke-shape stroke-shape-4"></span>
    <span class="stroke-shape stroke-shape-5"></span>
    <span class="stroke-shape stroke-shape-6"></span>
    <div class="container">
        <div class="hero-content">
            <ul class="breadcrumb-list pb-2">
                <li><a routerLink='/'>Home</a><span><svg xmlns="http://www.w3.org/2000/svg" height="19px" viewBox="0 0 24 24" width="19px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/></svg></span></li>
                <li><a routerLink='/tutorials'>Tutorials</a><span><svg xmlns="http://www.w3.org/2000/svg" height="19px" viewBox="0 0 24 24" width="19px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/></svg></span></li>
                <li>{{question?.title}}</li>
            </ul>
            <h2 class="section-title">{{question?.title}}</h2>
            <div class="media media-card align-items-center shadow-none p-0 mb-0
      rounded-0 mt-4 bg-transparent">
                <div class="media-body">
                    <h5 class="fs-14 fw-medium">By <a>{{question?.owner?.displayName}}</a></h5>
                    <small class="meta d-block lh-20">
            <span class="mr-2">{{question.createdAt|date}}</span>
            <span class="mr-2 fs-15">.</span>
<!--            <a href="#comments" class="page-scroll text-gray"><i class="la la-comment mr-1"></i>3</a>-->
          </small>
                </div>
            </div>
        </div>
        <!-- end hero-content -->
    </div>
    <!-- end container -->
</section>
<!-- end hero-area -->
<!--======================================
        END HERO AREA
======================================-->

<!-- ================================
         START BLOG AREA
================================= -->
<section class="blog-area pt-80px pb-80px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card card-item">
                    <div class="card-body">
                        <div>
                            <button *ngIf='iOwnTutorial' nz-button (click)='view=!view'><i nz-icon nzType="edit" nzTheme="outline"></i>Update Tutorial</button>
                            <hr>
                        </div>
                        <div *ngIf='view'>
                            <quill-view-html *ngIf="question?.body" [content]='question?.body'></quill-view-html>
                            <section *ngIf="!question?.body" class="error-area section-padding position-relative">
                                <span class="icon-shape icon-shape-1"></span>
                                <span class="icon-shape icon-shape-2"></span>
                                <span class="icon-shape icon-shape-3"></span>
                                <span class="icon-shape icon-shape-4"></span>
                                <span class="icon-shape icon-shape-5"></span>
                                <span class="icon-shape icon-shape-6"></span>
                                <span class="icon-shape icon-shape-7"></span>
                                <div class="container">
                                    <div class="media align-items-center justify-content-center error-content">
                                        <img src="assets/images/404.svg" alt="error-image" class="img-fluid mr-5 error-content-img">
                                        <div class="media-body flex-inherit">
                                            <h2 class="section-title pb-3">
                                                <a routerLink="/profile"> Upgrade Now </a>
                                            </h2>
                                            <p class="section-desc pb-4">To view this you need an active plan</p>
                                            <ul class="generic-list-item">
                                                <li>Try <a routerLink="/profile" class="d-inline-block text-color hover-underline">Go to plans</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- end container -->
                            </section>
                        </div>

                        <app-crete-tutorial *ngIf='!view' [update]='true' [question]='question'></app-crete-tutorial>
                        <!--           <div [innerHTML]='question?.body'></div>-->
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
                <div class="card card-item">
                    <div class="card-body">
                        <h4 class="pb-3 fs-20">Comments</h4>
                        <app-comments-widget-tutorials *ngIf='question?.id' [item]='question' (posted)='refresh($event)'></app-comments-widget-tutorials>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->

            </div>
            <!-- end col-lg-8 -->
            <div class="col-lg-4">
                <div class="sidebar">

                    <app-search-tutorials></app-search-tutorials>
                    <app-related-tutorials *ngIf='question?.id' [tutorial]='question'></app-related-tutorials>
                    <app-side-widget></app-side-widget>
                </div>
                <!-- end sidebar -->
            </div>
            <!-- end col-lg-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end blog-area -->
<!-- ================================
         END BLOG AREA
================================= -->