<div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card card-top card-top-primary">
        <div class="card-body"><vb-widgets-general-23v1></vb-widgets-general-23v1></div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="card card-top card-top-primary">
        <div class="card-header py-0">
          <vb-headers-card-header-tabbed-2
            [data]="{'title':'Profile'}"
          ></vb-headers-card-header-tabbed-2>
        </div>
        <div class="card-body"><vb-forms-1></vb-forms-1></div>
      </div>
    </div>
  </div>
</div>
