<div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card card-top card-top-primary">
        <div class="card-body"><user-profile-card></user-profile-card></div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="card card-top card-top-primary">
        <div class="card-header py-0">
          <headers-card-header-tabbed
            [data]="{'title':'Profile'}"
          ></headers-card-header-tabbed>
        </div>
        <div class="card-body"><user-profile-form></user-profile-form></div>
      </div>
    </div>
  </div>
</div>
