<!--======================================
        START HERO AREA
======================================-->
<section class="hero-area bg-white shadow-sm pt-80px pb-80px">
  <span class="icon-shape icon-shape-1"></span>
  <span class="icon-shape icon-shape-2"></span>
  <span class="icon-shape icon-shape-3"></span>
  <span class="icon-shape icon-shape-4"></span>
  <span class="icon-shape icon-shape-5"></span>
  <span class="icon-shape icon-shape-6"></span>
  <span class="icon-shape icon-shape-7"></span>
  <div class="container">
    <div class="hero-content text-center">
      <h2 class="section-title pb-3">Advertising</h2>
      <p class="section-desc">To advertise on our Tadya, kindly submit the form below and we will get back to you.

      </p>
    </div><!-- end hero-content -->
  </div><!-- end container -->
</section>
<!--======================================
        END HERO AREA
======================================-->

<!--======================================
        START CONTACT AREA
======================================-->
<section class="contact-area pt-80px pb-80px">
  <div class="container">
    <form [formGroup]="feedbackForm" class="contact-form card card-item">
      <div class="card-body row">
        <div class="col-lg-7">

          <div class="form-group">
            <label class="fs-14 text-black fw-medium lh-20">Your Name</label>
            <input type="text" id="name" formControlName=name name="name" class="form-control form--control fs-14"
            placeholder="e.g. Bwalya Mutinta">
          </div><!-- end form-group -->
          <div class="form-group">
            <label class="fs-14 text-black fw-medium lh-20">Email <span class="text-gray">(Address never made public)</span></label>
            <input type="email" id="email" formControlName="email" name="email" class="form-control form--control fs-14"
            placeholder="e.g. bwalyamutintat@gmail.com">
          </div><!-- end form-group -->
          <div class="form-group">
            <label class="fs-14 text-black fw-medium lh-20">Phone Number</label>
            <input type="tel" id="phone-number" formControlName="phone" name="phone" class="form-control form--control fs-14"
             placeholder="e.g 0964 444 4444">
          </div><!-- end form-group -->
            <div class="form-group">
            <label class="fs-14 text-black fw-medium lh-20">Company Name</label>
            <input type="tel" id="company" formControlName="company" name="company" class="form-control form--control fs-14"
             placeholder="e.g Tadya Org">
          </div><!-- end form-group -->
          <div class="form-group">
            <label class="fs-14 text-black fw-medium lh-20">Message</label>
            <textarea id="message" name="message" formControlName="message" class="form-control form--control fs-14" rows="6"
            placeholder="Tell us how we can help you and what products you are advertising."></textarea>
          </div><!-- end form-group -->
          <div class="form-group mb-0">
            <button id="send-message-btn" (click)="createFeedback()" class="btn theme-btn btn-primary" type="submit">Send Message</button>
          </div><!-- end form-group -->
        </div><!-- end col-lg-7 -->
        <div class="col-lg-5">
          <div class="contact-information-wrap pl-4 border-left border-left-gray h-100">
            <h3 class="fs-20 pb-3 fw-bold">Contact Information</h3>
            <div class="divider"><span></span></div>
            <p class="pt-3 pb-5">You can also reach us in the following ways.</p>
            <ul class="generic-list-item fs-15">
              <li class="mb-3"><div class="icon-element icon-element-xs shadow-sm d-inline-block mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="19px" viewBox="0 0 24 24" width="19px" fill="#3cb1c6"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z"/></svg></div>
                +260 96486 2067</li>
              <li class="mb-3"><div class="icon-element icon-element-xs shadow-sm d-inline-block mr-2"><svg xmlns="http://www.w3.org/2000/svg" height="19px" viewBox="0 0 24 24" width="19px" fill="#3cb1c6"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"/></svg></div><a href="mailto:example@yourwebsite.com" class="d-inline-block">
              support@tadya.org</a></li>
              <li class="mb-3"><div class="icon-element icon-element-xs shadow-sm d-inline-block mr-2"><svg xmlns="http://www.w3.org/2000/svg" height="19px" viewBox="0 0 24 24" width="19px" fill="#3cb1c6"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"/><circle cx="12" cy="9" r="2.5"/></svg></div>
                Libala Stage 3, lusaka , Zambia</li>
            </ul>
            <app-side-widget></app-side-widget>
          </div>
        </div><!-- end col-lg-5 -->
      </div><!-- end row -->
    </form>
    <div class="card card-item mt-80px">
      <div class="card-body">
        <div id="map" class="h-400px"></div>
      </div>
    </div><!-- end card -->
  </div><!-- end container -->
</section>
<!--======================================
        END CONTACT AREA
======================================-->
