<!--Title	The case of Mr Chirwa-->
<!--Interviewee Names	Daniel Chirwa-->
<!--Interviewer Names	Mwila Nyirongo-->
<!--Date of interview	2021-11-10-->
<!--Status	 Pending submision for review-->
<div class="table-responsive mb-1">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Title</th>
        <td>{{data.title}}</td>
      </tr>
      <tr>
        <th>Interviewee Names</th>
        <td>{{data.interviewee}}</td>
      </tr>
      <tr>
        <th>Interviewer Names</th>
        <td>{{data.interviewer}}</td>
      </tr>
      <tr>
        <th>Date of interview	</th>
        <td>{{data.dates}}</td>
      </tr>
      <tr>
        <th>Status	</th>
        <td>{{data.status}}</td>
      </tr>
    </tbody>
  </table>
</div>
<nz-tabset class="tabs" [nzSelectedIndex]="0">
  <nz-tab nzTitle="Introduction" [nzForceRender]="true"></nz-tab>
  <nz-tab nzTitle="Challenges" [nzForceRender]="true"></nz-tab>
  <nz-tab nzTitle="Actions" [nzForceRender]="true"></nz-tab>
  <nz-tab nzTitle="Results" [nzForceRender]="true"></nz-tab>
  <nz-tab nzTitle="Conclusion" [nzForceRender]="true"></nz-tab>
  <nz-tab nzTitle="Sequel" [nzForceRender]="true"></nz-tab>
  <nz-tab nzTitle="Media" [nzForceRender]="true"></nz-tab>
  <nz-tab nzTitle="Generated Articles" [nzForceRender]="true"></nz-tab>
</nz-tabset>
