  <nz-table #basicTable [nzData]="tableData"
                [nzShowPagination]="true" class="table mb-4">
        <thead>
          <tr>
            <th class="bg-transparent">#</th>
            <th class="bg-transparent">Story Category</th>
            <th class="bg-transparent">Title</th>
            <th class="bg-transparent">Status</th>
            <th class="bg-transparent">Edit</th>
            <th class="bg-transparent">Delete</th>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let data of basicTable.data">
          <tr >
            <td [nzExpand]="expandSet.has(data.id)"
                (nzExpandChange)="onExpandChange(data.id, $event)">
            {{data.id}}
            <td>
                {{data.category_id}}
            </td>
            <td>
              <div>{{data.title}}</div>
              <div class="text-gray-4">{{data.interviewee_names}}</div>
            </td>
            <td>
              <a href="javascript: void(0);" class="text-blue">
                {{data.status}}
              </a>
            </td>
            <td >
              <button type="button" class="btn">
                <i class="fe fe-edit"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn">
                <i class="fe fe-trash"></i>
              </button>
            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
            <app-soc-table-detail [data]='data'></app-soc-table-detail>
          </tr>
        </ng-container>

        </tbody>
      </nz-table>
