<div class='row justify-content-center'>
  <div class='col-lg-4 col-md-4'>
    <vb-widgets-lists-21 [data]='{"title": "Register Farmers", "icon": "fe-users", "url":"/farmer-registration"}'></vb-widgets-lists-21>
  </div>
  <div class='col-lg-4 col-md-4'>
    <vb-widgets-lists-21 [data]='{"title": "Mark Attendance", "icon": "fe-user-check", "url":"/cbb/attendance"}'></vb-widgets-lists-21>
  </div>
  <div class='col-lg-4 col-md-4'>
    <vb-widgets-lists-21 [data]='{"title": "Market Prices", "icon": "fe-bar-chart-2", "url":"/prices"}'></vb-widgets-lists-21>
  </div>
</div>
