<!-- ================================
         START JOB AREA
================================= -->
<section class="job-area pt-50px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="filters pb-4 d-flex align-items-center">
          <h3 class="fs-17 fw-medium mr-1">{{total}} subjects</h3>
          <span class="fs-12 mr-1">|</span>
          <span class="fs-13">Subjects available on Tadya (r) </span>
        </div><!-- end filters -->
      </div><!-- end col-lg-12 -->
      <div class="col-lg-9">
        <div class="jobs-main-bar mb-50px">
          <div class="jobs-snippet">
            <ng-container *ngFor='let x of subjects'>
              <div class="media media-card">
                <a  class="media-img d-block">
                  <img src="assets/images/company-logo.png" alt="subject logo">
                </a>
                <div class="media-body border-left-0">
                  <h5 class="pb-1 fs-16 fw-medium"><a>{{x?.name}}</a></h5>
                  <small class="meta d-block lh-20 pb-1">
                    <span class="pr-1"><i class="la la-map-marker mr-1">Grade {{x?.grade}}</i></span>
                  </small>
                  <p class="lh-20 fs-13 text-black-50 truncate">{{x?.description}}</p>
                  <div class="tags pt-2">
                    <a *ngFor='let y of x?.topics' href="#" class="tag-link">{{y?.name}}</a>
                  </div>
                </div>
              </div><!-- end media -->
            </ng-container>
          </div><!-- end jobs-snippet -->
          <div class="pager text-center pt-30px">
            <ng-container>
              <nz-pagination (nzPageIndexChange)='indexChange($event)'  [nzTotal]="total" nzShowSizeChanger [(nzPageSize)]="limit"></nz-pagination>
              <p class="fs-13 pt-2">Showing page {{start}} of {{(total/limit)+1 |number:'1.0-0'}} Tutorials</p>
            </ng-container>
          </div>
        </div><!-- end jobs-main-bar -->
      </div><!-- end col-lg-9 -->
      <div class="col-lg-3">
        <div class="sidebar">
          <div class="card card-item text-center">
            <div class="card-body">
              <h3 class="fs-17 pb-3">Are you looking for extra income?</h3>
              <p class="card-text pb-4 fs-15 lh-24">Become a teacher for tadya ASAP.</p>
              <a routerLink="/auth/teacher/create" class="btn theme-btn theme-btn-sm btn-outline theme-btn-outline-gray w-100">Create a teacher account <i class="la la-arrow-right icon ml-1"></i></a>
            </div>
          </div><!-- end card -->

          <div class="ad-card">
            <h4 class="text-gray text-uppercase fs-13 pb-3 text-center">Advertisements</h4>
            <div class="ad-banner mb-4 mx-auto">
              <span class="ad-text">advertise here</span>
            </div>
            <div class="ad-banner mb-4 ad-banner-2">
              <span class="ad-text">advertise here</span>
            </div>
          </div><!-- end ad-card -->
        </div><!-- end sidebar -->
      </div><!-- end col-lg-3 -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end job-area -->
<!-- ================================
         END JOB AREA
================================= -->
