<!--<div>-->
<!--  <div class="row">-->
<!--    <div class=" col-md-12">-->
<!--      <div class="card card-top card-top-primary">-->
<!--        <div class="card-header">-->
<!--          <vb-headers-heading-2-->
<!--            [data]="{'title':'@mary.ableton (Mary Stanform)','description':'17,256 followers'}"-->
<!--          ></vb-headers-heading-2>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--        -->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="card-body"><vb-app-partials-wp-write></vb-app-partials-wp-write></div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>\-->
<!--</div>-->
<headedcard>

</headedcard>
