<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-top card-top-success">
        <div class="card-header">
          <vb-headers-heading-2
            [data]="{'title':'Contacts and Mailing List','description':'You can manage your contacts and mailing list on this page'}"
          ></vb-headers-heading-2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card card-top card-top-primary">
        <div class="card-header">
          <vb-headers-heading-3
            [data]="{'title':'Contact List','button':'Add New'}"
          ></vb-headers-heading-3>
          <a class="btn btn-light" target="_blank" rel="noopener noreferrer">
          <span>Add New </span>
        </a>
        </div>
        <div class="card-body">
          <app-customers-table></app-customers-table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-top card-top-primary">
        <div class="card-header">
          <vb-headers-heading [data]="{'title':'Mailing List'}"></vb-headers-heading>
        </div>
        <div class="card-body"><vb-tables-antd-7></vb-tables-antd-7></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12"><div class="card card-top card-top-primary"></div></div>
  </div>
</div>
