<!--Title	The case of Mr Chirwa-->
<!--Interviewee Names	Daniel Chirwa-->
<!--Interviewer Names	Mwila Nyirongo-->
<!--Date of interview	2021-11-10-->
<!--Status	 Pending submision for review-->

<!--<nz-tabset class="tabs" [nzSelectedIndex]="0">-->
<!--  <nz-tab nzTitle="Info" [nzForceRender]="true">-->
<div class="table-responsive mb-1">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Date of Birth</th>
        <td>{{data.dob}}</td>
      </tr>
      <tr>
        <th>Registration Date</th>
        <td>{{data.registration_date}}</td>
      </tr>
      <tr>
        <th>Household Head Type</th>
        <td>{{data.household_head_type}}</td>
      </tr>
      <tr>
        <th>Martial Status</th>
        <td>{{data.marital_status}}</td>
      </tr>
      <tr>
        <th>Relationship to household head</th>
        <td>{{data.relationship_to_household_head}}</td>
      </tr>
      <tr>
        <th>Village</th>
        <td>{{data.village}}</td>
      </tr>
      <tr>
        <th>Chiefdom</th>
        <td>{{data.chiefdom}}</td>
      </tr>
      <tr>
        <th>Zone</th>
        <td>{{data.zone}}</td>
      </tr>
      <tr>
        <th>Block</th>
        <td>{{data.block}}</td>
      </tr>
      <tr>
        <th>Commodity</th>
        <td>{{data.commodity}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!--</nz-tab>-->
<!--  <nz-tab nzTitle="Introduction" [nzForceRender]="true">-->
<!--    {{data.introduction}}-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Challenges" [nzForceRender]="true">-->
<!--    {{data.challenges}}-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Actions" [nzForceRender]="true">-->
<!--    {{data.actions}}-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Results" [nzForceRender]="true">-->
<!--    {{data.results}}-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Conclusion" [nzForceRender]="true">-->
<!--    {{data.conclusion}}-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Sequel" [nzForceRender]="true">-->
<!--    {{data.sequel}}-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Media" [nzForceRender]="true"></nz-tab>-->
<!--  <nz-tab nzTitle="Generated Articles" [nzForceRender]="true"></nz-tab>-->
<!--</nz-tabset>-->
