<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-top card-top-success">
        <div class="card-header">
          <vb-headers-heading [data]="{'title':'Uploads Section'}"></vb-headers-heading>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card card-top card-top-primary">
        <div class="card-header">
          <vb-headers-heading [data]="{'title':'Set Parameters'}"></vb-headers-heading>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="nrcForms"
              nz-form [nzLayout]="'verical'">

          <nz-form-item>
            <nz-form-control nzErrorTip="Please select province">
              <nz-select
                formControlName="province"
                (ngModelChange)="getDistrictsByProvince()"
                nzShowSearch nzAllowClear nzPlaceHolder="Select a province"
              >
                <nz-option *ngFor="let x of provinces" nzLabel="{{x.name}}"
                           nzValue="{{x.id}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please select district">
              <nz-select
                [disabled]="submitting"
                formControlName="district"
                nzShowSearch nzAllowClear nzPlaceHolder="Select a district"
              >
                <nz-option *ngFor="let x of districts" nzLabel="{{x.label}}"
                           nzValue="{{x.id}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>


          <nz-form-item>
            <nz-form-label nzRequired>NRC Extension</nz-form-label>
            <nz-form-control  nzErrorTip="Please enter NRC extension">
              <input [disabled]="submitting" formControlName="ext"
                     name="name" nz-input placeholder="10/1">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired>Start NRC</nz-form-label>
            <nz-form-control nzErrorTip="Please enter starting NRC">
              <input [disabled]="submitting" type="number" formControlName="start"
                     name="name" nz-input placeholder="193000">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>End NRC</nz-form-label>
            <nz-form-control nzErrorTip="Please enter ending NRC">
              <input [disabled]="submitting" type="number" formControlName="end" name="end"
                     nz-input placeholder="193099">
            </nz-form-control>
          </nz-form-item>
          <div class="row">
            <div class="col-6">
              <nz-form-item>
                <nz-form-label nzRequired>Upload Images</nz-form-label>
                <app-upload ></app-upload>
              </nz-form-item>
            </div>
            <div class="col-6">
              <nz-form-item>
                <button nz-button (click)="submitForm()"
                        [nzLoading]="submitting"
                        class="btn btn-success btn-with-addon text-nowrap mt-3">
                  Submit
                </button>
              </nz-form-item>
            </div>
          </div>

        </form>

      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-top card-top-success">
        <div class="card-header">
          <vb-headers-heading [data]="{'title':'Confirmation'}"></vb-headers-heading>
        </div>
      </div>
      <div class="card-body">
        <upload-confirmation-lists-25
        [data]="readableFormData"
        ></upload-confirmation-lists-25>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-top">
        <div class="card-header">
          <vb-headers-heading [data]="{'title':'My Works'}"></vb-headers-heading>
        </div>
        <div class="card-body"><vb-tables-antd-6></vb-tables-antd-6></div>
      </div>
    </div>
  </div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Progress"
          (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <ul class="list-unstyled mb-0">
      <li *ngFor="let x of completed" class="item">
        <div class="separator bg-success mr-3"></div>
        <label for="checkbox-1" class="control checkbox mb-0">
          <input type="checkbox" checked id="checkbox-1" />
          <span class="controlIndicator"></span>
          <div class="d-inline-block">
            <div>NRC Generated </div>
            <div class="text-muted">{{x}}</div>
          </div>
        </label>
      </li>
    </ul>
    <nz-spin *ngIf="completed.length!=fileList.length/2" nzTip="Loading...">
      <nz-alert
        nzType="info"
        nzMessage="Generating"
        nzDescription="NRC : {{nrc}}"
      ></nz-alert>
    </nz-spin>
  </ng-container>
</nz-modal>
