<div class="sidebar">
  <div class="card card-item">
    <div class="card-body">
      <h3 class="fs-17 pb-3">Number Achievement</h3>
      <div class="divider"><span></span></div>
      <div class="row no-gutters text-center">
        <div class="col-lg-6 responsive-column-half">
          <div class="icon-box pt-3">
            <span class="fs-20 fw-bold text-color">{{questionCount}}</span>
            <p class="fs-14">Questions</p>
          </div><!-- end icon-box -->
        </div><!-- end col-lg-6 -->
        <div class="col-lg-6 responsive-column-half">
          <div class="icon-box pt-3">
            <span class="fs-20 fw-bold text-color-2">{{answersCount}}</span>
            <p class="fs-14">Answers</p>
          </div><!-- end icon-box -->
        </div><!-- end col-lg-6 -->
<!--        <div class="col-lg-6 responsive-column-half">-->
<!--          <div class="icon-box pt-3">-->
<!--            <span class="fs-20 fw-bold text-color-3">{{teachersCount}}</span>-->
<!--            <p class="fs-14">Teachers</p>-->
<!--          </div>&lt;!&ndash; end icon-box &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end col-lg-6 &ndash;&gt;-->
<!--        <div class="col-lg-6 responsive-column-half">-->
<!--          <div class="icon-box pt-3">-->
<!--            <span class="fs-20 fw-bold text-color-4">{{studentsCount}}</span>-->
<!--            <p class="fs-14">Users</p>-->
<!--          </div>&lt;!&ndash; end icon-box &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end col-lg-6 &ndash;&gt;-->
        <div class="col-lg-12 pt-3">
          <p class="fs-14">To get answer of question <a routerLink='/ask' class="text-color hover-underline">ASK<i class="la la-arrow-right ml-1"></i></a></p>
        </div>
      </div><!-- end row -->
    </div>
  </div><!-- end card -->
<!--  <div class="card card-item">-->
<!--    <div class="card-body">-->
<!--      <div class="d-flex align-items-center pb-3">-->
<!--        <svg class="mr-2" width="18" height="18" viewBox="0 0 18 18" fill="#6c727c"><path d="M1 6l8 5 8-5V4L9 9 1 4c0-1.1.9-2 2-2h12c1.09 0 2 .91 2 2v10c0 1.09-.91 2-2 2H3c-1.09 0-2-.91-2-2V6z"></path></svg>-->
<!--        <h3 class="fs-17">Love this site?</h3>-->
<!--      </div>-->
<!--      <div class="divider"><span></span></div>-->
<!--      <p class="fs-14 lh-20 py-3">Get the <span class="text-dark fw-medium">weekly newsletter!</span> In it, you'll get:</p>-->
<!--      <ul class="generic-list-item generic-list-item-bullet fs-14 pb-3">-->
<!--        <li class="lh-20">The week's top questions and answers</li>-->
<!--        <li class="lh-20">Important community announcements</li>-->
<!--        <li class="lh-20">Questions that need answers</li>-->
<!--      </ul>-->
<!--      <button class="btn theme-btn theme-btn-gray w-100">Sign up for the digest</button>-->
<!--      <p class="fs-14 pt-1 text-center">See an example newsletter</p>-->
<!--    </div>-->
<!--  </div>&lt;!&ndash; end card &ndash;&gt;-->
<!--  <div class="card card-item">-->
<!--    <div class="card-body">-->
<!--      <h3 class="fs-17 pb-3">Related Questions</h3>-->
<!--      <div class="divider"><span></span></div>-->
<!--      <div class="sidebar-questions pt-3">-->
<!--        <div class="media media-card media&#45;&#45;card media&#45;&#45;card-2">-->
<!--          <div class="media-body">-->
<!--            <h5><a href="question-details.html">How to select the dom element with event.target</a></h5>-->
<!--            <small class="meta">-->
<!--              <span class="pr-1">2 mins ago</span>-->
<!--              <span class="pr-1">. by</span>-->
<!--              <a href="#" class="author">Sudhir Kumbhare</a>-->
<!--            </small>-->
<!--          </div>-->
<!--        </div>&lt;!&ndash; end media &ndash;&gt;-->
<!--        <div class="media media-card media&#45;&#45;card media&#45;&#45;card-2">-->
<!--          <div class="media-body">-->
<!--            <h5><a href="question-details.html">How can you cut an onion without crying?</a></h5>-->
<!--            <small class="meta">-->
<!--              <span class="pr-1">48 mins ago</span>-->
<!--              <span class="pr-1">. by</span>-->
<!--              <a href="#" class="author">wimax</a>-->
<!--            </small>-->
<!--          </div>-->
<!--        </div>&lt;!&ndash; end media &ndash;&gt;-->
<!--        <div class="media media-card media&#45;&#45;card media&#45;&#45;card-2">-->
<!--          <div class="media-body">-->
<!--            <h5><a href="question-details.html">How to change the behavior of dropdown buttons in HTML</a></h5>-->
<!--            <small class="meta">-->
<!--              <span class="pr-1">1 hour ago</span>-->
<!--              <span class="pr-1">. by</span>-->
<!--              <a href="#" class="author">Antonin gavrel</a>-->
<!--            </small>-->
<!--          </div>-->
<!--        </div>&lt;!&ndash; end media &ndash;&gt;-->
<!--      </div>&lt;!&ndash; end sidebar-questions &ndash;&gt;-->
<!--    </div>-->
<!--  </div>&lt;!&ndash; end card &ndash;&gt;-->
<!--  <div class="card card-item">-->
<!--    <div class="card-body">-->
<!--      <h3 class="fs-17 pb-3">Trending Tags</h3>-->
<!--      <div class="divider"><span></span></div>-->
<!--      <div class="tags pt-4">-->
<!--        <div class="tag-item">-->
<!--          <a href="#" class="tag-link tag-link-md">analytics</a>-->
<!--          <span class="item-multiplier fs-13">-->
<!--                                    <span>×</span>-->
<!--                                    <span>32924</span>-->
<!--                                </span>-->
<!--        </div>&lt;!&ndash; end tag-item &ndash;&gt;-->
<!--        <div class="tag-item">-->
<!--          <a href="#" class="tag-link tag-link-md">computer</a>-->
<!--          <span class="item-multiplier fs-13">-->
<!--                                    <span>×</span>-->
<!--                                    <span>32924</span>-->
<!--                                </span>-->
<!--        </div>&lt;!&ndash; end tag-item &ndash;&gt;-->
<!--        <div class="tag-item">-->
<!--          <a href="#" class="tag-link tag-link-md">python</a>-->
<!--          <span class="item-multiplier fs-13">-->
<!--                                    <span>×</span>-->
<!--                                    <span>32924</span>-->
<!--                                </span>-->
<!--        </div>&lt;!&ndash; end tag-item &ndash;&gt;-->
<!--        <div class="tag-item">-->
<!--          <a href="#" class="tag-link tag-link-md">javascript</a>-->
<!--          <span class="item-multiplier fs-13">-->
<!--                                    <span>×</span>-->
<!--                                    <span>32924</span>-->
<!--                                </span>-->
<!--        </div>&lt;!&ndash; end tag-item &ndash;&gt;-->
<!--        <div class="tag-item">-->
<!--          <a href="#" class="tag-link tag-link-md">c#</a>-->
<!--          <span class="item-multiplier fs-13">-->
<!--                                    <span>×</span>-->
<!--                                    <span>32924</span>-->
<!--                                </span>-->
<!--        </div>&lt;!&ndash; end tag-item &ndash;&gt;-->
<!--        <div class="collapse" id="showMoreTags">-->
<!--          <div class="tag-item">-->
<!--            <a href="#" class="tag-link tag-link-md">java</a>-->
<!--            <span class="item-multiplier fs-13">-->
<!--                                    <span>×</span>-->
<!--                                    <span>32924</span>-->
<!--                                </span>-->
<!--          </div>&lt;!&ndash; end tag-item &ndash;&gt;-->
<!--          <div class="tag-item">-->
<!--            <a href="#" class="tag-link tag-link-md">swift</a>-->
<!--            <span class="item-multiplier fs-13">-->
<!--                                    <span>×</span>-->
<!--                                    <span>32924</span>-->
<!--                                </span>-->
<!--          </div>&lt;!&ndash; end tag-item &ndash;&gt;-->
<!--          <div class="tag-item">-->
<!--            <a href="#" class="tag-link tag-link-md">html</a>-->
<!--            <span class="item-multiplier fs-13">-->
<!--                                    <span>×</span>-->
<!--                                    <span>32924</span>-->
<!--                                </span>-->
<!--          </div>&lt;!&ndash; end tag-item &ndash;&gt;-->
<!--          <div class="tag-item">-->
<!--            <a href="#" class="tag-link tag-link-md">angular</a>-->
<!--            <span class="item-multiplier fs-13">-->
<!--                                    <span>×</span>-->
<!--                                    <span>32924</span>-->
<!--                                </span>-->
<!--          </div>&lt;!&ndash; end tag-item &ndash;&gt;-->
<!--          <div class="tag-item">-->
<!--            <a href="#" class="tag-link tag-link-md">flutter</a>-->
<!--            <span class="item-multiplier fs-13">-->
<!--                                    <span>×</span>-->
<!--                                    <span>32924</span>-->
<!--                                </span>-->
<!--          </div>&lt;!&ndash; end tag-item &ndash;&gt;-->
<!--          <div class="tag-item">-->
<!--            <a href="#" class="tag-link tag-link-md">machine-language</a>-->
<!--            <span class="item-multiplier fs-13">-->
<!--                                    <span>×</span>-->
<!--                                    <span>32924</span>-->
<!--                                </span>-->
<!--          </div>&lt;!&ndash; end tag-item &ndash;&gt;-->
<!--        </div>&lt;!&ndash; end collapse &ndash;&gt;-->
<!--        <a class="collapse-btn fs-13" data-toggle="collapse" href="#showMoreTags" role="button" aria-expanded="false" aria-controls="showMoreTags">-->
<!--          <span class="collapse-btn-hide">Show more<i class="la la-angle-down ml-1 fs-11"></i></span>-->
<!--          <span class="collapse-btn-show">Show less<i class="la la-angle-up ml-1 fs-11"></i></span>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>&lt;!&ndash; end card &ndash;&gt;-->
<!--  <div class="ad-card">-->
<!--    <h4 class="text-gray text-uppercase fs-13 pb-3 text-center">Advertisements</h4>-->
<!--    <div class="ad-banner mb-4 mx-auto">-->
<!--      <span class="ad-text">290x500</span>-->
<!--    </div>-->
<!--  </div>&lt;!&ndash; end ad-card &ndash;&gt;-->
</div><!-- end sidebar -->
