<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-top card-top-primary">
        <div class="card-header">
          <vb-headers-heading-2
            [data]="{'title':'Farmer Registration','description':'Welcome to farmer registration section.'}"
          ></vb-headers-heading-2>
        </div>
        <div class="card-body">
          <app-soc-instructions></app-soc-instructions></div>
        <div class="card-body">
          <div class="table-responsive text-wrap">
            <nz-tabset class="tabs" [nzSelectedIndex]="0">
              <nz-tab nzTitle="Farmers" [nzForceRender]="true">
                <app-farmer-table [route]='"/farmers"'></app-farmer-table>
              </nz-tab>
              <nz-tab nzTitle="Register" [nzForceRender]="true">
                <app-farmer-registration-form></app-farmer-registration-form>
              </nz-tab>
            </nz-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
