<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-top card-top-success">
        <div class="card-header">
          <vb-headers-heading [data]="{'title':'Data Entry Section'}"></vb-headers-heading>
        </div>
        <div class="card-body">
          <vb-controls-button
            [data]="{'title':'Get Next NRC','type':'primary'}"
          ></vb-controls-button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card card-top card-top-primary">
        <div class="card-header">
          <vb-headers-heading [data]="{'title':'Basic Information'}"></vb-headers-heading>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-top card-top-primary">
        <div class="card-header">
          <vb-headers-heading [data]="{'title':'NRC Images'}"></vb-headers-heading>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-top card-top-primary">
        <div class="card-header">
          <vb-headers-heading [data]="{'title':'My Works'}"></vb-headers-heading>
        </div>
        <div class="card-body"><vb-tables-antd-6></vb-tables-antd-6></div>
      </div>
    </div>
  </div>
</div>
