<div class="table-responsive text-nowrap">
  <nz-table #basicTable [nzData]="tableData" [nzShowPagination]="false" class="table mb-4">
    <thead>
      <tr>
        <th class="bg-transparent text-uppercase">#</th>
        <th class="bg-transparent text-uppercase ">Section</th>
        <th class="bg-transparent text-uppercase ">Question Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i=index">
        <td>
          <div class="text-wrap width-30">
            <div class="text-dark mb-3">{{i}}</div>
          </div>
        </td>
        <td>
          <a href="javascript: void(0);" class="text-blue">
            {{data.location}}
          </a>
        </td>
        <td class="font-weight-bold">{{data.value}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
