<div class='card app-card'>
  <div class="align-items-center">
    <div>
      <div class='data'>

      <div class="font-size-24 font-weight-bold text-dark title">{{ data.title }}</div>
<!--        <div class="my-1 mr-4 font-size-24 flex-shrink-0">-->
        <nz-divider [nzText]="dividerText" nzOrientation="center"></nz-divider>
            <ng-template #dividerText>
              <i class="fe {{data.icon}}"></i>
            </ng-template>

      <div class="font-size-12 text-uppercase">
      <div class="font-size-12 text-uppercase">{{ data.description }}</div>
        <br>
        <a href="{{data.url}}" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-success  px-3">Visit </a>
      </div>
      </div>

    </div>
  </div>
</div>
