<div class="table-responsive text-wrap">
  <nz-tabset class="tabs" [nzSelectedIndex]="0">
    <nz-tab nzTitle="Past Trainings" [nzForceRender]="true">
      <nz-table #basicTable [nzData]="tableData"
                nzShowPagination class="table mb-4">
        <thead>
<!--        Year	Month	Camp	Days Office	Days Field	Days Total	Days non-esapp activities-->
          <tr>
            <th class="bg-transparent"></th>
            <th class="bg-transparent">Topic</th>
            <th class="bg-transparent">Category</th>
            <th class="bg-transparent">Subcomponent</th>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let data of basicTable.data">
          <tr >
            <td [nzExpand]="expandSet.has(data.id)"
                (nzExpandChange)="onExpandChange(data.id, $event)">
            </td>
            <td>
              {{ data.topic }}
            </td>
            <td>
              {{ data.category }}
            </td>
            <td>
              {{ data.subcomponent }}
            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
            <app-view-past-registration-form [data]='data'></app-view-past-registration-form>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
    </nz-tab>
    <nz-tab nzTitle="Mark Attendance">
      <app-register-attendants-form></app-register-attendants-form>
    </nz-tab>
  </nz-tabset>
</div>
