<!--Title	The case of Mr Chirwa-->
<!--Interviewee Names	Daniel Chirwa-->
<!--Interviewer Names	Mwila Nyirongo-->
<!--Date of interview	2021-11-10-->
<!--Status	 Pending submision for review-->
<div class="table-responsive mb-1">
  <nz-row>
    <nz-col [nzSpan]="20">
      <div [className]='"section-label"'><strong>Attendance</strong></div><br />
      <!-- <div> {{data.output_level_indicator}}</div> -->
      <nz-table #basicTable [nzData]="tableData">
        <thead>
        <tr>
          <th>Name</th>
          <th>Sex</th>
          <th>Training Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let farmer of basicTable.data">
          <td>{{farmer.full_names}}</td>
          <td>{{farmer.sex}}</td>
          <td>{{farmer.training_date}}</td>
        </tr>
        </tbody>
      </nz-table>
    </nz-col>

  </nz-row>

</div>
