<div [ngClass]="{
  'vb__layout__grayBackground': settings.isGrayBackground
}">
  <nz-layout [ngClass]="{
  'vb__layout': true,
  'vb__layout__contentMaxWidth': settings.isContentMaxWidth,
  'vb__layout__appMaxWidth': settings.isAppMaxWidth,
  'vb__layout__squaredBorders': settings.isSquaredBorders,
  'vb__layout__cardsShadow': settings.isCardShadow,
  'vb__layout__borderless': settings.isBorderless
}">

<!--    <vb-variants></vb-variants>-->
   <!-- <vb-sidebar></vb-sidebar> -->
<!--    <vb-support-chat></vb-support-chat>-->

    <!-- classic left menu -->


    <nz-layout>
<app-header></app-header>
<!--      <vb-breadcrumbs *ngIf="settings.layoutBreadcrumbs === 'v1'"></vb-breadcrumbs>-->
<!--      <vb-breadcrumbs-2 *ngIf="settings.layoutBreadcrumbs === 'v2'"></vb-breadcrumbs-2>-->
      <nz-content class="vb__layout__content">
        <div [@slideFadeinUp]="routeAnimation(outlet, 'slideFadeinUp')"
          [@slideFadeinRight]="routeAnimation(outlet, 'slideFadeinRight')"
          [@zoomFadein]="routeAnimation(outlet, 'zoomFadein')" [@fadein]="routeAnimation(outlet, 'fadein')">
          <router-outlet #outlet="outlet"></router-outlet>
        </div>
      </nz-content>
      <nz-footer *ngIf="settings.layoutFooter === 'v1'">
<app-footer></app-footer>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</div>
<ngx-spinner></ngx-spinner>
