<div class="table-responsive text-wrap">
    <form [formGroup]="form" (ngSubmit)="submit(model)" nz-form [nzLayout]="'vertical'">
      <formly-form [form]="form" [fields]="fields" [model]="model">

        <div><strong>Attendance</strong></div>
        <br>
        <nz-table #basicTable [nzData]="listOfAllData" nzShowPagination nzShowSizeChanger
                  (nzCurrentPageDataChange)="currentPageDataChange($event)">
          <thead>
          <tr>
            <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
                (nzCheckedChange)="checkAll($event)"></th>
            <th>Name</th>
            <th>NRC</th>
            <th>Graduation Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
                (nzCheckedChange)="refreshStatus()"></td>
            <td>{{data.Title}}{{data.first_name}} {{data.last_name}}</td>
            <td>{{data.nrc}}</td>
            <td>0/2</td>
          </tr>
          </tbody>
        </nz-table>

        <button type="reset" class="btn btn-danger ml-2">Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </formly-form>
    </form>


</div>
