<nz-layout>
  <nz-content>
<!--    <vb-sidebar></vb-sidebar>-->
<!--    <vb-support-chat></vb-support-chat>-->
    <div class="authContainer" [ngClass]="{
        'vb__layout__squaredBorders': isSquaredBorders,
        'vb__layout__cardsShadow': isCardShadow,
        'vb__layout__borderless': isBorderless,
        'white': authPagesColor === 'white',
        'gray': authPagesColor === 'gray'

      }" [ngStyle]="{backgroundImage: authPagesColor === 'image' ? 'url(assets/images/content/photos/8.jpg)' : ''}">
      <div class="topbar" [ngClass]="{
        'topbarGray': isGrayTopbar
      }">
        <div class="logoContainer">
          <div class="logo">
            <div class="name">{{ logo }}</div>
          </div>
        </div>
        <div class="d-none d-sm-block">
          <span class="mr-2">Don't have an account?</span>
          <a routerLink="/auth/register" class="font-size-16 vb__utils__link">
            Sign up
          </a>
        </div>
      </div>
      <div class="mb-5">
        <div [@slideFadeinUp]="routeAnimation(outlet, 'slideFadeinUp')"
          [@slideFadeinRight]="routeAnimation(outlet, 'slideFadeinRight')"
          [@zoomFadein]="routeAnimation(outlet, 'zoomFadein')" [@fadein]="routeAnimation(outlet, 'fadein')">
          <router-outlet #outlet="outlet"></router-outlet>
        </div>
      </div>
      <div class="mt-auto pb-5 pt-5">
        <div class="text-center">
          Copyright © {{ date }}
          <a href="https://zedsms.app" target="_blank" rel="noopener noreferrer">
            ZedSMS
          </a>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
