<div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card card-top card-top-success">
        <div class="card-header">
          <vb-headers-heading [data]="{'title':'Credit'}"></vb-headers-heading>
        </div>
        <vb-widgets-charts-11></vb-widgets-charts-11>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-top card-top-success">
        <div class="card-header">
          <vb-headers-heading [data]="{'title':'Outgoing'}"></vb-headers-heading>
        </div>
        <vb-widgets-charts-11v1></vb-widgets-charts-11v1>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-top card-top-success">
        <div class="card-header">
          <vb-headers-heading [data]="{'title':'Mbasela'}"></vb-headers-heading>
        </div>
        <vb-widgets-charts-11v2></vb-widgets-charts-11v2>
      </div>
    </div>
  </div>
</div>
