<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-top card-top-primary">
        <div class="card-body">
          <!-- Dashboard analytics  -->
          <app-dashboard-head></app-dashboard-head></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body"><app-dashboard-download-list></app-dashboard-download-list></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-top card-top-primary">
        <div class="card-body">
        <!-- Dashboard tasks   -->
          <app-dashboard-tasks-table></app-dashboard-tasks-table></div>
      </div>
    </div>
  </div>
</div>
