<!--Title	The case of Mr Chirwa-->
<!--Interviewee Names	Daniel Chirwa-->
<!--Interviewer Names	Mwila Nyirongo-->
<!--Date of interview	2021-11-10-->
<!--Status	 Pending submision for review-->

<!--<nz-tabset class="tabs" [nzSelectedIndex]="0">-->
<!--  <nz-tab nzTitle="Info" [nzForceRender]="true">-->
<div class="table-responsive mb-1">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Title</th>
        <td>{{data.title}}</td>
      </tr>
      <tr>
        <th>Interviewee Names</th>
        <td>{{data.interviewee_names}}</td>
      </tr>
      <tr>
        <th>Interviewer Names</th>
        <td>{{data.interviewer_names}}</td>
      </tr>
      <tr>
        <th>Date of interview	</th>
        <td>{{data.date_interviewed}}</td>
      </tr>
      <tr>
        <th>Status	</th>
        <td>{{data.status}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!--</nz-tab>-->
<!--  <nz-tab nzTitle="Introduction" [nzForceRender]="true">-->
<!--    {{data.introduction}}-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Challenges" [nzForceRender]="true">-->
<!--    {{data.challenges}}-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Actions" [nzForceRender]="true">-->
<!--    {{data.actions}}-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Results" [nzForceRender]="true">-->
<!--    {{data.results}}-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Conclusion" [nzForceRender]="true">-->
<!--    {{data.conclusion}}-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Sequel" [nzForceRender]="true">-->
<!--    {{data.sequel}}-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Media" [nzForceRender]="true"></nz-tab>-->
<!--  <nz-tab nzTitle="Generated Articles" [nzForceRender]="true"></nz-tab>-->
<!--</nz-tabset>-->
