  <nz-tab nzTitle="Stories" [nzForceRender]="true">
      <nz-table #basicTable [nzData]="tableData"
                [nzShowPagination]="true" class="table mb-4">
        <thead>
          <tr>
            <th class="bg-transparent">#</th>
            <th class="bg-transparent">Story Category</th>
            <th class="bg-transparent">Title</th>
            <th class="bg-transparent">Status</th>
            <th class="bg-transparent">View</th>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let data of basicTable.data">
          <tr >
            <td>
              <div class="vb__utils__avatar">
                <img [src]="data.avatar" alt="User" />
              </div>
            </td>
            <td>
              <div>{{data.userName.name}}</div>
              <div class="text-gray-4">{{data.userName.position}}</div>
            </td>
            <td>
            </td>
            <td>
              <a href="javascript: void(0);" class="text-blue">
                {{data.location}}
              </a>
            </td>
            <td [nzExpand]="expandSet.has(data.id)"
                (nzExpandChange)="onExpandChange(data.id, $event)">
            </td>

          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
            <app-view-stories-of-change-form></app-view-stories-of-change-form>
          </tr>
        </ng-container>

        </tbody>
      </nz-table>
    </nz-tab>
