<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-top card-top-primary">
        <div class="card-header">
          <vb-headers-heading-2
            [data]="{'title':'FaaBS Training topics','description':'Welcome to FaaBS Training topics section.'}"
          ></vb-headers-heading-2>
        </div>
        <div class="card-body">
          <div>
            <dl class="row">
              <dt class="col-sm-3">Instructions</dt>
              <dd class="col-sm-9">
                1. Click Create FaaBs Topic below to add new Faabs Topic.
              </dd>
            </dl>
          </div>
        </div>
        <div class="card-body"><app-cbb-topics-tabs></app-cbb-topics-tabs></div>
      </div>
    </div>
  </div>
</div>
